.App {
  font-family: sans-serif;
  background-color: #68a4e0c7;
}
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  /* img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  } */

  h5 {
    font-size: 1.5em;
  }
}

p1 {
  color: #88b04b;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
p {
  color: #404f5e;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}
l {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

#sideimage {
  animation: sideimageanimation 4s infinite;
}

@keyframes sideimageanimation {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
