.App {
  font-family: sans-serif;
}
.navbar-toggler:focus {
  box-shadow: none;
}
nav {
  box-shadow: 0 4px 8px 0 rgb(0 0 0/15%);
}
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
